@import url("https://fonts.cdnfonts.com/css/inter");

#task-container {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  padding: 50px;
  margin-top: -10px;
  margin-left: -50%;
  color: #007fdb;
}
