@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

#time-container {
  background: url("../Asset/Rectangle.png");
  border-radius: 10px 10px 0px 0px;
  width: 100%;
  height: 237px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  background-repeat: no-repeat;
}

.time1 {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #ffffff;
}

.time2 {
  font-family: "Russo One";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  white-space: nowrap;
  color: #ffffff;
  margin-right: 3%;
}

.time_date_container {
  text-align: right;
  margin-right: 5%;
}
